  /* background color for the whole page */
  html {
    background-color: #EDEDED;
  }

  #content {
    display: flex;
  }

  .vertical-order {
    display: flex;
    flex-direction: column;
  }

  .horizontal-order {
    display: flex;
    gap: 48px;
  }

  #title {
    color: #1F2987;
    font-family: Gill Sans;
    font-size: 40px;
    font-weight: 700;
  }

  .subtitle {
    color: #1F2987;
    font-family: Helvetica Neue;
    font-size: 24px;
    font-weight: 500;
  }

  .button {
    /* default styling for all buttons */
    text-align: center;
    font-family: Helvetica;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    margin: 10px;
  }

  #black-btn {
    color: white;
    border: 2px solid grey;
    background-color: black;
  }

  #red-btn {
    background-color: #FF6666;
  }

  #green-btn {
    background-color: #66CC66;
  }

  #blue-btn {
    background-color: #99CCC9;
  }

  /* random button goes here */

  #eraser {
    background-color: #EDEDED;

  }


  #size-button {
    text-align: center;
    background-color: beige;
    border: 2px solid black;
    border-radius: 10px;
  }
  

  /* Grid */
  .container {
    background-color: white;
    box-sizing: content-box;
    width: 800px;
    height: 800px;
    border: 3px solid black;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
  }
  
  .item {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 50px; /* deafult square size for a 16x16 grid, calculating process for other grid sizes is explained in script.js */
  }

  .item-border {
    border: 1px solid lightgray;
  }